html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  z-index: -2;
}

.mdl-card__supporting-text--overflow {
  overflow: visible !important;
}

.mdl-layout__header--center-aligned .mdl-navigation {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mdl-navigation-item {
  margin-left: 15px;
  margin-right: 15px;
}

.mdl-select {
  overflow: visible !important;
}

.mdl-select + .mdl-menu__container {
  margin-top: 2px;
}
.mdl-select + .mdl-menu__container .mdl-menu .mdl-menu__item {
  font-size: 14px;
  text-transform: uppercase;
}
.mdl-select__fix-height + .mdl-menu__container .mdl-menu {
  overflow-y: auto;
  max-height: 250px !important;
}
.mdl-select__fix-height + .mdl-menu.mdl-menu--top-left {
  bottom: auto;
  top: 0;
}
.mdl-select .selected {
  background-color: #ddd;
}

.mdl-chip {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
.mdl-chip__text {
  text-transform: capitalize;
}
